
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn-div {
    display: flex;
    justify-content: center;
}

.play-btn {
    font-size: 2rem;
    width: 30%;
}
